h1 {
    color: #D5ED9F;
    position: fixed;
}

body {
    color: #F1F8E8;
    background-color: #00712D;
    margin: 0;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 100;
    font-style: normal;
}

a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: #D5ED9F 2px solid;
    text-decoration: none;
    color: #D5ED9F;
    transition: 0.5s;
}

a:hover {
    background-color: #D5ED9F;
    color: #00712D;
    transform: translateY(-0.5rem);
}

main {
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 5rem;
}

.books-section {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.book-item {
    margin: 2rem 0;
    display: inline-block;
    background-color: #D5ED9F;
    border: #F1F8E8 2px solid;
    width: 200px;
    height: 300px;
    transition: 1s;
    border-radius: 10px;
}

.book-item h2 {
    color: #00712D;
}

.book-item a {
    background-color: #00712D;
}

.book-item a:hover {
    background-color: #F1F8E8;
    border-color: #00712D;
}